<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="description" content="">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- The above 4 meta tags *must* come first in the head; any other head content must come *after* these tags -->

    <!-- Title -->
    <title>BEMTTO.</title>

    <!-- Style CSS -->
    <link rel="stylesheet" href="css/sty.css">

</head>

<body>
    <!-- ##### Header Area Start ##### -->
    <header class="header-area">


        <!-- Logo Area -->
        <div class="logo-area text-center">
            <div class="container h-100">
                <div class="row h-100 align-items-center">
                <center>
                    <div class="col-12">
                        <a href="index.html" class="original-logo"><img src="img/principal/y.png" alt=""></a>
                    </div>
                </center>
                </div>
            </div>
        </div>

        <!-- Nav Area -->
        <div class="original-nav-area" id="stickyNav">
            <div class="classy-nav-container breakpoint-off">
                <div class="container">
                    <!-- Classy Menu -->
                    <nav class="classy-navbar justify-content-between">
                        <!-- Menu -->
                        <div class="classy-menu" id="originalNav">
                            <!-- close btn -->
                            <div class="classycloseIcon">
                                <div class="cross-wrap"><span class="top"></span><span class="bottom"></span></div>
                            </div>

                            <!-- Nav Start -->
                            <div class="classynav">
                                <ul>
                                    <li><a href="/BEMTTO">INICIO</a></li>
                                     <li><a href="/Hombre">HOMBRE</a></li>
                                    <li><a href="/Mujer">MUJER</a></li>
                                    </li>
                                    <li><a href="/Ofertas">OFERTAS</a>
                                    </li>

                                    <li><a href="/Informacion">SOBRE NOSOTROS</a></li>

                                    <li><a href="/Contacto">CONTACTO</a></li>
                                    <li><a href="/">ADMINISTRADOR</a></li>
                                </ul>
                            </div>
                            <!-- Nav End -->
                        </div>
                    </nav>
                </div>
            </div>
        </div>
    </header>
    <!-- ##### Header Area End ##### -->

    <!-- ##### Breadcumb Area Start ##### -->
    <div class="breadcumb-area bg-img" style="background-image: url(img/principal/madera.png);">
        <div class="container h-100">
            <div class="row h-100 align-items-center">
                <div class="col-12">
                    <div class="breadcumb-content text-center">
                        <h2>SOBRE NOSOTROS.</h2>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- ##### Breadcumb Area End ##### -->

    <!-- ##### Blog Wrapper Start ##### -->
    <div class="blog-wrapper section-padding-100-0 clearfix">
        <div class="container">
            <div class="row align-items-end">
                <!-- Single Blog Area -->
                <div class="col-12 col-lg-4">
                    <div class="single-blog-area clearfix mb-100">
                        <!-- Blog Content -->
                        <div class="single-blog-content">
                            <div class="line"></div>
                            <h4><a href="#" class="post-headline">HISTORIA.</a></h4>
                            <p class="mb-3 text-center">BEMTTO es una empresa 100% Colombiana dedicada al diseño, confección y comercialización de prendas de vestir. Fue fundada en 1997 como una empresa de confección de ropa de niño iniciando en la ciudad de Bogotá; con el paso del tiempo se incursiono en ropa para adulto. Durante los últimos años nuestra marca ha sido reconocida a nivel Nacional y se ha establecido como sinónimo de diseño, creatividad, calidad, modernidad y autenticidad en la producción de jeans, camisas, camisetas, chaquetas y demás accesorios para dama y caballero.</p>
                        </div>
                    </div>
                </div>
                
                <!-- Single Blog Area -->
                <div class="col-12 col-lg-4">
                    <div class="single-blog-area clearfix mb-100">
                        <!-- Blog Content -->
                        <div class="logo-area text-center">
                                <div class="container h-100">
                                    <div class="row h-100 align-items-center">
                                        <div class="col-12">
                                            <a href="index.html" class="original-logo"><img src="img/principal/original.gif" alt=""></a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        <div class="single-blog-content">
                                <div class="line"></div>
                            <p class="mb-3 text-center">Nuestras prendas son producidas bajo rigurosos controles de calidad utilizando las mejores materias primas y tecnología de punta; nos hemos dedicado a modernizar el vestuario proponiendo un estilo urbano, exclusivo, informal y relajado, ideal para hombres y mujeres auténticas, amantes de la ropa. Ofrecemos un estilo simple pero a la vez elegante y contemporáneo.</p>
                        </div>
                    </div>
                </div>
                <!-- Single Blog Area -->
                <div class="col-12 col-md-6 col-lg-4">
                    <div class="single-catagory-area clearfix mb-100">
                        <img src="img/principal/gf.jpg" alt="">
                       
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- ##### Blog Wrapper End ##### -->

    <!-- ##### Cool Facts Area Start ##### -->
    <div class="cool-facts-area section-padding-100-0 bg-img background-overlay" style="background-image: url(img/principal/fc.jpg);">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="single-blog-area blog-style-2 text-center mb-100">
                        <!-- Blog Content -->
                        <div class="single-blog-content">
                            <div class="line"></div>
                            <h4><a href="#" class="post-headline">FILOSOFIA.</a></h4>
                            <p>Con el paso de los años BEMTTO se ha consolidado como una compañía firme y se ha comprometido a seguir siendo una empresa innovadora y atractiva, fundamentada primero que todo en el fomento del crecimiento personal y laboral de todos y cada uno de nuestros trabajadores. Estamos totalmente comprometidos con producir prendas de la mejor y más alta calidad.</p>
                        </div>
                    </div>
                </div>
            </div>

           
        </div>
    </div>
    <!-- ##### Cool Facts Area End ##### -->

    <!-- ##### Blog Wrapper Start ##### -->
    <div class="blog-wrapper section-padding-100-0 clearfix">
        <div class="container">
            <div class="row">
                <!-- Single Blog Area  -->
                <div class="col-12 col-md-6 col-lg-4">
                    <div class="single-blog-area blog-style-2 mb-100">
                        <div class="single-blog-thumbnail">
                            <img src="img/principal/imagen3.png" alt="">
                        </div>
                        <!-- Blog Content -->
                        <div class="single-blog-content mt-50">
                            <div class="line"></div>
                            <a href="#" class="post-tag">Lifestyle</a>
                            <h4><a href="#" class="post-headline">MISIÓN</a></h4>
                            <p>Satisfacer plenamente a clientes, colaboradores y accionistas a través de procesos de producción creativos e innovadores que potencien la calidad y comercialización de nuestras confecciones.</p>
                        </div>
                    </div>
                </div>
                <!-- Single Blog Area  -->
                <div class="col-12 col-md-6 col-lg-4">
                    <div class="single-blog-area blog-style-2 mb-100">
                        <div class="single-blog-thumbnail">
                            <img src="img/principal/imgc1.png" alt="">
                           
                        </div>
                        <!-- Blog Content -->
                        <div class="single-blog-content mt-50">
                            <div class="line"></div>
                            <h4><a href="#" class="post-headline">VISIÓN</a></h4>
                            <p>Posicionarnos a nivel nacional como una de las mejores empresas en el mercado de confecciones, mediante el desarrollo e implementación de soluciones innovadoras y estilos de vanguardia.</p>
                        </div>
                    </div>
                </div>
                <!-- Single Blog Area  -->
                <div class="col-12 col-md-6 col-lg-4">
                    <div class="single-blog-area blog-style-2 mb-100">
                        <div class="single-blog-thumbnail">
                            <img src="img/principal/imagen4.png" alt="">
                            <div class="post-date">
                                <a href="#">10 <span>march</span></a>
                            </div>
                        </div>
                        
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- ##### Blog Wrapper End ##### -->

    <!-- ##### Instagram Feed Area Start ##### -->
    <div class="instagram-feed-area">
        
        <div class="instagram-feed-area">
        
                <div class="instagram-slides owl-carousel">
                    <!-- Single Insta Feed -->
                    <div class="single-insta-feed">
                        <img src="img/principal/M.jpg" alt="">
                        <!-- Hover Effects -->
                        <div class="hover-effects">
                            <a href="#" class="d-flex align-items-center justify-content-center"><i class="fa fa-instagram"></i></a>
                        </div>
                    </div>
                    <!-- Single Insta Feed -->
                    <div class="single-insta-feed">
                        <img src="img/principal/n.jpg" alt="">
                        <!-- Hover Effects -->
                        <div class="hover-effects">
                            <a href="#" class="d-flex align-items-center justify-content-center"><i class="fa fa-instagram"></i></a>
                        </div>
                    </div>
                    <!-- Single Insta Feed -->
                    <div class="single-insta-feed">
                        <img src="img/principal/2.PNG" alt="">
                        <!-- Hover Effects -->
                        <div class="hover-effects">
                            <a href="#" class="d-flex align-items-center justify-content-center"><i class="fa fa-instagram"></i></a>
                        </div>
                    </div>
                    <!-- Single Insta Feed -->
                    <div class="single-insta-feed">
                        <img src="img/principal/6.jpg" alt="">
                        <!-- Hover Effects -->
                        <div class="hover-effects">
                            <a href="#" class="d-flex align-items-center justify-content-center"><i class="fa fa-instagram"></i></a>
                        </div>
                    </div>
                    <!-- Single Insta Feed -->
                    <div class="single-insta-feed">
                        <img src="img/principal/3.jpg" alt="">
                        <!-- Hover Effects -->
                        <div class="hover-effects">
                            <a href="#" class="d-flex align-items-center justify-content-center"><i class="fa fa-instagram"></i></a>
                        </div>
                    </div>
                    <!-- Single Insta Feed -->
                    <div class="single-insta-feed">
                        <img src="img/principal/7.jpg" alt="">
                        <!-- Hover Effects -->
                        <div class="hover-effects">
                            <a href="#" class="d-flex align-items-center justify-content-center"><i class="fa fa-instagram"></i></a>
                        </div>
                    </div>
                    <!-- Single Insta Feed -->
                    <div class="single-insta-feed">
                        <img src="img/principal/B.jpg" alt="">
                        <!-- Hover Effects -->
                        <div class="hover-effects">
                            <a href="#" class="d-flex align-items-center justify-content-center"><i class="fa fa-instagram"></i></a>
                        </div>
                    </div>
                </div>
            </div>
    <footer class="footer-area text-center">
        <div class="container">
            <div class="row">
                <div class="col-12">

                    <!-- Footer Nav Area -->
                    <div class="classy-nav-container breakpoint-off">
                        <!-- Classy Menu -->
                        <nav class="classy-navbar justify-content-center">

                            <!-- Navbar Toggler -->
                            <div class="classy-navbar-toggler">
                                <span class="navbarToggler"><span></span><span></span><span></span></span>
                            </div>

                            
                        </nav>
                    </div>
                </div>
            </div>
        </div>

Carrera 64A # 4g - 55 Bogotá Colombia - Llámenos al 315 358 7821

    </footer>
    <!-- ##### Footer Area End ##### -->

    <!-- jQuery (Necessary for All JavaScript Plugins) -->
    <script src="../public/js/jquery/jquery-2.2.4.min.js"></script>
    <!-- Popper js -->
    <script src="../public/js/popper.min.js"></script>
    <!-- Bootstrap js -->
    <script src="../public/js/bootstrap.min.js"></script>
    <!-- Plugins js -->
    <script src="js/plugins.js"></script>
    <!-- Active js -->
    <script src="js/active.js"></script>

</body>

</html>