<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="description" content="">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- The above 4 meta tags *must* come first in the head; any other head content must come *after* these tags -->

    <!-- Title -->
    <title>BEMTTO</title>


    <!-- Style CSS -->
    <link rel="stylesheet" href="css/sty.css">

</head>

<body>

    <!-- ##### Header Area Start ##### -->
    <header class="header-area">

        

        <!-- Logo Area -->
        <div class="logo-area text-center">
            <div class="container h-100">
                <div class="row h-100 align-items-center">
                    <center>
                    <div class="col-12">
                        <a href="index.html" class="original-logo"><img src="img/principal/y.png" alt=""></a>
                    </div>
                </center>
                </div>
            </div>
        </div>

        <!-- Nav Area -->
        
        <div class="original-nav-area" id="stickyNav">
                <div class="classy-nav-container breakpoint-off">
                    <div class="container">
                        <!-- Classy Menu -->
                        <nav class="classy-navbar justify-content-between">
                            <!-- Menu -->
                            <div class="classy-menu" id="originalNav">
                                <!-- close btn -->
                                <div class="classycloseIcon">
                                    <div class="cross-wrap"><span class="top"></span><span class="bottom"></span></div>
                                </div>
    
                                <!-- Nav Start -->
                                <div class="classynav">
                                    <ul>
                                        <li><a href="/BEMTTO"> INICIO </a></li>
                                        <li><a href="/Hombre">HOMBRE</a></li>
                                        <li><a href="mujer.html">MUJER</a></li>                                            </ul>
                                        </li>
                                        <li><a href="/Ofertas">OFERTAS</a></li>
                                        <li><a href="/Informacion">SOBRE NOSOTROS</a></li>
                                        
                                        <li><a href="/Contacto">CONTACTO</a></li>
                                        <li><a href="/">ADMINISTRADOR</a></li>
                                    </ul>
                                </div>
                                <!-- Nav End -->
                            </div>
                        </nav>
                    </div>
                </div>
            </div>
    </header>
    
    <div class="blog-wrapper section-padding-100-0 clearfix">
        <div class="container">
            <div class="row">
                <!-- Single Blog Area  -->
                <div class="col-12 col-md-6 col-lg-4">
                    <div class="single-blog-area blog-style-2 mb-100">
                        <div class="single-blog-thumbnail">
                            <img src="img/principal/kene.jpg" alt="">
                        </div>
                        <!-- Blog Content -->
                        <div class="single-blog-content mt-50">
                            <div class="line"></div>
                            
                            <h4><a href="#" class="post-headline">KENNEDY BOGOTA</h4>
                            <p>CARRERA 78 K # 37A 42 SUR</p>
                        <p>TELÉFONO: 571 2738048
                                </p>
                        </div>
                    </div>
                </div>
                <!-- Single Blog Area  -->
                <div class="col-12 col-md-6 col-lg-4">
                    <div class="single-blog-area blog-style-2 mb-100">
                        <div class="single-blog-thumbnail">
                            <img src="img/principal/funza.jpg" alt="">
                           
                        </div>
                        <!-- Blog Content -->
                        <div class="single-blog-content mt-50">
                            <div class="line"></div>
                            <h4><a href="#" class="post-headline">FUSAGASUGA (CUNDINAMARCA)</a></h4>
                            <p>CARRERA 6 # 7 29</p>
                        <p>TELÉFONO: 571 8672398
                                </p>
                        </div>
                    </div>
                </div>
                <!-- Single Blog Area  -->
                <div class="col-12 col-md-6 col-lg-4">
                    <div class="single-blog-area blog-style-2 mb-100">
                        <div class="single-blog-thumbnail">
                            <img src="img/principal/floren.jpg" alt="">
                            
                        </div>
                        <div class="single-blog-content mt-50">
                            <div class="line"></div>
                            <h4><a href="#" class="post-headline">FLORENCIA (CAQUETA)</a></h4>
                            <p>CARRERA 13 # 14 55</p>
                        <p>TELÉFONO: 578 435481    
                               </p>
                        </div>
                    

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

    <div class="instagram-feed-area">
        
        <div class="instagram-slides owl-carousel">
            <!-- Single Insta Feed -->
            <div class="single-insta-feed">
                <img src="img/principal/M.jpg" alt="">
                <!-- Hover Effects -->
                <div class="hover-effects">
                    <a href="#" class="d-flex align-items-center justify-content-center"><i class="fa fa-instagram"></i></a>
                </div>
            </div>
            <!-- Single Insta Feed -->
            <div class="single-insta-feed">
                <img src="img/principal/n.jpg" alt="">
                <!-- Hover Effects -->
                <div class="hover-effects">
                    <a href="#" class="d-flex align-items-center justify-content-center"><i class="fa fa-instagram"></i></a>
                </div>
            </div>
            <!-- Single Insta Feed -->
            <div class="single-insta-feed">
                <img src="img/principal/2.PNG" alt="">
                <!-- Hover Effects -->
                <div class="hover-effects">
                    <a href="#" class="d-flex align-items-center justify-content-center"><i class="fa fa-instagram"></i></a>
                </div>
            </div>
            <!-- Single Insta Feed -->
            <div class="single-insta-feed">
                <img src="img/principal/6.jpg" alt="">
                <!-- Hover Effects -->
                <div class="hover-effects">
                    <a href="#" class="d-flex align-items-center justify-content-center"><i class="fa fa-instagram"></i></a>
                </div>
            </div>
            <!-- Single Insta Feed -->
            <div class="single-insta-feed">
                <img src="img/principal/3.jpg" alt="">
                <!-- Hover Effects -->
                <div class="hover-effects">
                    <a href="#" class="d-flex align-items-center justify-content-center"><i class="fa fa-instagram"></i></a>
                </div>
            </div>
            <!-- Single Insta Feed -->
            <div class="single-insta-feed">
                <img src="img/principal/7.jpg" alt="">
                <!-- Hover Effects -->
                <div class="hover-effects">
                    <a href="#" class="d-flex align-items-center justify-content-center"><i class="fa fa-instagram"></i></a>
                </div>
            </div>
            <!-- Single Insta Feed -->
            <div class="single-insta-feed">
                <img src="img/principal/B.jpg" alt="">
                <!-- Hover Effects -->
                <div class="hover-effects">
                    <a href="#" class="d-flex align-items-center justify-content-center"><i class="fa fa-instagram"></i></a>
                </div>
            </div>
        </div>
    </div>
    

    <!-- ##### Footer Area Start ##### -->
    <footer class="footer-area text-center">
        <div class="container">
            <div class="row">
                <div class="col-12">

                    <!-- Footer Nav Area -->
                    <div class="classy-nav-container breakpoint-off">
                        <!-- Classy Menu -->
                        <nav class="classy-navbar justify-content-center">

                            <!-- Navbar Toggler -->
                            <div class="classy-navbar-toggler">
                                <span class="navbarToggler"><span></span><span></span><span></span></span>
                            </div>

                        </nav>
                    </div>
                </div>
            </div>
        </div>


        Carrera 64A # 4g - 55 Bogotá Colombia - Llámenos al 315 358 7821
    </footer>
    

    <!-- ##### Footer Area End ##### -->

    <!-- jQuery (Necessary for All JavaScript Plugins) -->
    <script src="../public/js/jquery/jquery-2.2.4.min.js"></script>
    <!-- Popper js -->
    <script src="../public/js/popper.min.js"></script>
    <!-- Bootstrap js -->
    <script src="../public/js/bootstrap.min.js"></script>
    <!-- Plugins js -->
    <script src="../public/js/plugins.js"></script>
    <!-- Active js -->
    <script src="../public/js/active.js"></script>
    <!-- Google Map js -->
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAwuyLRa1uKNtbgx6xAJVmWy-zADgegA2s"></script>
    <script src="../public/js/map-active.js"></script>

</body>

</html>