<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="description" content="">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- The above 4 meta tags *must* come first in the head; any other head content must come *after* these tags -->

    <!-- Title -->
    <title>BEMTTO.</title>

    <!-- Favicon -->
    <link rel="icon" href="../public/img/core-img/favicon.ico">

    <!-- Style CSS -->
    <link rel="stylesheet" href="css/sty.css">

</head>

<body>
 


    <header class="header-area">

        <!-- Top Header Area -->
        <div class="top-header">
            <div class="container h-100">
                <div class="row h-100 align-items-center">
                    <!-- Breaking News Area -->
                     <a href="index.html" class="original-logo"><img src="img/principal/j.png" alt=""></a>
                   
                </div>
            </div>
        </div>
        

        <!-- Logo Area -->
        <div class="logo-area text-center">
            <div class="container h-100">
                <div class="row h-100 align-items-center">
                    <div class="col-12">
                        <a href="hombre.html" class="original-logo"><img src="img/principal/y.png" alt=""></a>
                    </div>
                </div>
            </div>
        </div>
        <div class="right-side-cart-area">

        

            <div class="cart-content d-flex">
            </div>
        </div>
        <!-- ##### Right Side Cart End ##### -->
    
        <!-- ##### Breadcumb Area Start ##### -->
        <div class="breadcumb_area bg-img" style="background-image: url(img/mujer/b.jpg);">
            <div class="container h-100">
                <div class="row h-100 align-items-center">
                    <div class="col-12">
                        <div class="page-title text-center">
                            <h2>HOMBRE</h2>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Nav Area -->
        <div class="original-nav-area" id="stickyNav">
            <div class="classy-nav-container breakpoint-off">
                <div class="container">
                    <!-- Classy Menu -->
                    <nav class="classy-navbar justify-content-between">

                       

                        <!-- Navbar Toggler -->
                        <div class="classy-navbar-toggler">
                            <span class="navbarToggler"><span></span><span></span><span></span></span>
                        </div>

                        <!-- Menu -->
                        <div class="classy-menu" id="originalNav">
                            
                            <!-- Nav Start -->
                            <div class="classynav">
                                <ul>
                                    <li><a href="/BEMTTO"> INICIO </a></li>
                                    <li><a href="/Hombre">HOMBRE</a></li>
                                    <li><a href="mujer.html">MUJER</a></li>
                                    </li>
                                    <li><a href="/Ofertas">OFERTAS</a></li>
                                    <li><a href="/Informacion">SOBRE NOSOTROS</a></li>
                                    
                                    <li><a href="/Contacto">CONTACTO</a></li>
                                    <li><a href="/">ADMINISTRADOR</a></li>
                                </ul>

                                
                            </div>
                            <!-- Nav End -->
                        </div>
                    </nav>
                </div>
            </div>
        </div>
    </header>

   


    <!-- ##### Shop Grid Area Start ##### -->
    <section class="shop_grid_area section-padding-100">
        <div class="container">
            <div class="row">
                <div class="col-12 col-md-8 col-lg-9">
                    <div class="shop_grid_product_area">
                        <div class="row">

                            <!-- Single Product -->
                            <div class="col-10 col-sm-6 col-lg-4">
                                <div class="single-product-wrapper">
                                    <!-- Product Image -->
                                    <div class="product-img">
                                        <img src="img/hombre/1.jpg" alt="">
                                        
                                    </div>

                                    <!-- Product Description -->
                                    <div class="product-description">
                                        <a>
                                            <h6 class="text-center">JEANS AZUL CLARO</h6>
                                        </a>
                                        <p class="product-price text-black  text-center">$ 120,000</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-12 col-sm-6 col-lg-4">
                                <div class="single-product-wrapper">
                                    <!-- Product Image -->
                                    <div class="product-img">
                                        <img src="img/hombre/2.jpg" alt="">
                                        
                                    </div>

                                    <!-- Product Description -->
                                    <div class="product-description">
                                        <a>
                                            <h6 class="text-center">SHORT AZUL OSCURO</h6>
                                        </a>
                                        <p class="product-price text-black  text-center">$ 90,000</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-12 col-sm-6 col-lg-4">
                                <div class="single-product-wrapper">
                                    <!-- Product Image -->
                                    <div class="product-img">
                                        <img src="img/hombre/3.jpg" alt="">
                                    </div>

                                    <!-- Product Description -->
                                    <div class="product-description">
                                        <a>
                                            <h6 class="text-center">JEANS NEGRO</h6>
                                        </a>
                                        <p class="product-price text-black  text-center">$ 135,000</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-12 col-sm-6 col-lg-4">
                                <div class="single-product-wrapper">
                                    <!-- Product Image -->
                                    <div class="product-img">
                                        <img src="img/hombre/4.jpg" alt="">
                                        
                                    </div>

                                    <!-- Product Description -->
                                    <div class="product-description">
                                        <a>
                                            <h6 class="text-center">JEANS NEGRO</h6>
                                        </a>
                                        <p class="product-price text-black  text-center">$ 130,000</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-12 col-sm-6 col-lg-4">
                                <div class="single-product-wrapper">
                                    <!-- Product Image -->
                                    <div class="product-img">
                                        <img src="img/hombre/5.jpg" alt="">
                                    </div>

                                    <!-- Product Description -->
                                    <div class="product-description">
                                        <a>
                                            <h6 class="text-center">JEANS AZUL CLARO</h6>
                                        </a>
                                        <p class="product-price text-black  text-center">$ 120,000</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-12 col-sm-6 col-lg-4">
                                <div class="single-product-wrapper">
                                    <!-- Product Image -->
                                    <div class="product-img">
                                        <img src="img/hombre/6.jpg" alt="">
                                    
                                    </div>

                                    <!-- Product Description -->
                                    <div class="product-description">
                                        <a>
                                            <h6>JEANS BLANCO CON AZUL</h6>
                                        </a>
                                        <p class="product-price text-black  text-center">$ 135,000</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-12 col-sm-6 col-lg-4">
                                <div class="single-product-wrapper">
                                    <!-- Product Image -->
                                    <div class="product-img">
                                        <img src="img/hombre/7.jpg" alt="">
                                       
                                    </div>

                                    <!-- Product Description -->
                                    <div class="product-description">
                                        <a href="single-product-details.html">
                                            <h6 class="text-center"> JEANS CAFE</h6>
                                        </a>
                                        <p class="product-price text-black  text-center">$ 135,000</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-12 col-sm-6 col-lg-4">
                                <div class="single-product-wrapper">
                                    <!-- Product Image -->
                                    <div class="product-img">
                                        <img src="img/hombre/8.jpg" alt="">
                                       
                                    </div>

                                    <!-- Product Description -->
                                    <div class="product-description">
                                        <a href="single-product-details.html">
                                            <h6 class="text-center"> JEANS AZUL OSCURO</h6>
                                        </a>
                                        <p class="product-price text-black  text-center">$ 135,000</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-12 col-sm-6 col-lg-4">
                                <div class="single-product-wrapper">
                                    <!-- Product Image -->
                                    <div class="product-img">
                                        <img src="img/hombre/9.jpg" alt="">
                                       
                                    </div>

                                    <!-- Product Description -->
                                    <div class="product-description">
                                        <a href="single-product-details.html">
                                            <h6 class="text-center"> JEANS NEGRO</h6>
                                        </a>
                                        <p class="product-price text-black  text-center">$ 135,000</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-12 col-sm-6 col-lg-4">
                                <div class="single-product-wrapper">
                                    <!-- Product Image -->
                                    <div class="product-img">
                                        <img src="img/hombre/10.jpg" alt="">
                                       
                                    </div>

                                    <!-- Product Description -->
                                    <div class="product-description">
                                        <a href="single-product-details.html">
                                            <h6 class="text-center"> JEANS BLANCO</h6>
                                        </a>
                                        <p class="product-price text-black  text-center">$ 140,000</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-12 col-sm-6 col-lg-4">
                                <div class="single-product-wrapper">
                                    <!-- Product Image -->
                                    <div class="product-img">
                                        <img src="img/hombre/11.jpg" alt="">
                                       
                                    </div>

                                    <!-- Product Description -->
                                    <div class="product-description">
                                        <a href="single-product-details.html">
                                            <h6 class="text-center"> JEANS BLANCO</h6>
                                        </a>
                                        <p class="product-price text-black  text-center">$ 135,000</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-12 col-sm-6 col-lg-4">
                                <div class="single-product-wrapper">
                                    <!-- Product Image -->
                                    <div class="product-img">
                                        <img src="img/hombre/12.jpg" alt="">
                                       
                                    </div>

                                    <!-- Product Description -->
                                    <div class="product-description">
                                        <a href="single-product-details.html">
                                            <h6 class="text-center"> JEANS NEGRO</h6>
                                        </a>
                                        <p class="product-price text-black  text-center">$ 110,000</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-12 col-sm-6 col-lg-4">
                                <div class="single-product-wrapper">
                                    <!-- Product Image -->
                                    <div class="product-img">
                                        <img src="img/hombre/13.jpg" alt="">
                                       
                                    </div>

                                    <!-- Product Description -->
                                    <div class="product-description">
                                        <a href="single-product-details.html">
                                            <h6 class="text-center"> JEANS NEGRO</h6>
                                        </a>
                                        <p class="product-price text-black  text-center">$ 135,000</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-12 col-sm-6 col-lg-4">
                                <div class="single-product-wrapper">
                                    <!-- Product Image -->
                                    <div class="product-img">
                                        <img src="img/hombre/14.jpg" alt="">
                                       
                                    </div>

                                    <!-- Product Description -->
                                    <div class="product-description">
                                        <a href="single-product-details.html">
                                            <h6 class="text-center"> JEANS COLOR VINOTINTO</h6>
                                        </a>
                                        <p class="product-price text-black  text-center">$ 115,000</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-12 col-sm-6 col-lg-4">
                                <div class="single-product-wrapper">
                                    <!-- Product Image -->
                                    <div class="product-img">
                                        <img src="img/hombre/15.jpg" alt="">
                                       
                                    </div>

                                    <!-- Product Description -->
                                    <div class="product-description">
                                        <a href="single-product-details.html">
                                            <h6 class="text-center"> JEANS AZUL OSCURO</h6>
                                        </a>
                                        <p class="product-price text-black  text-center">$ 135,000</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-12 col-sm-6 col-lg-4">
                                <div class="single-product-wrapper">
                                    <!-- Product Image -->
                                    <div class="product-img">
                                        <img src="img/hombre/16.jpg" alt="">
                                       
                                    </div>

                                    <!-- Product Description -->
                                    <div class="product-description">
                                        <a href="single-product-details.html">
                                            <h6 class="text-center"> JEANS AZUL OSCURO</h6>
                                        </a>
                                        <p class="product-price text-black  text-center">$ 135,000</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-12 col-sm-6 col-lg-4">
                                <div class="single-product-wrapper">
                                    <!-- Product Image -->
                                    <div class="product-img">
                                        <img src="img/hombre/17.jpg" alt="">
                                       
                                    </div>
                                    <!-- Product Description -->
                                    <div class="product-description">
                                        <a href="single-product-details.html">
                                            <h6 class="text-center"> JEANS AZUL OSCURO</h6>
                                        </a>
                                        <p class="product-price text-black  text-center">$ 135,000</p>
                                    </div>
                                </div>
                            </div>

                                                        <div class="col-12 col-md-6 col-lg-4">
                                                                <div class="single-blog-area blog-style-2 mb-100">
                                                                    <div class="single-blog-thumbnail">
                                                                        <img src="img/ofertas/8.jpg" alt="">
                                                                        <div class="post-date p-3 mb-2 bg-danger text-white">
                                                                                <a href="#" class="text-dark">60%<span class="text-dark">DESCUENTO</span></a>
                                                                     </div>
                                                                  </div>
                                                                    <!-- Blog Content -->
                                                                    <div class="single-blog-content mt-10">
                                                                       
                                                                        <h6 class="text-center"><a href="#" class="post-headline text-white bg-dark"></a>JEANS AZUL BÁSICO</a></h6>
                                                                        <h6 href="#" class="text-white bg-danger text-center">Ahora: $ 74,000 </h6>
                                                                        <h6 href="#" class="text-black  text-center">Antes: $ 118,400</h6>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="col-12 col-md-6 col-lg-4">
                                                                    <div class="single-blog-area blog-style-2 mb-100">
                                                                        <div class="single-blog-thumbnail">
                                                                            <img src="img/ofertas/9.jpg" alt="">
                                                                            <div class="post-date p-3 mb-2 bg-danger text-white">
                                                                                    <a href="#" class="text-dark">60%<span class="text-dark">DESCUENTO</span></a>
                                                                         </div>
                                                                      </div>
                                                                        <!-- Blog Content -->
                                                                        <div class="single-blog-content mt-10">
                                                                           
                                                                            <h6 class="text-center"><a href="#" class="post-headline text-white bg-dark"></a>JEANS NEGRO BÁSICO</a></h6>
                                                                            <h6 href="#" class="text-white bg-danger text-center">Ahora: $ 72,000</h6>
                                                                            <h6 href="#" class="text-black  text-center">Antes: $ 115,200</h6>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                                
                                                             
                                                        
                                                        
                                                    </div>
                                                </div>
                                            </div>
                    </div>
                </div>
            </div>
        </div>            

       <!-- ##### Instagram Feed Area Start ##### -->
       <div class="instagram-feed-area">
        
        <div class="instagram-slides owl-carousel">
            <!-- Single Insta Feed -->
            <div class="single-insta-feed">
                <img src="img/principal/M.jpg" alt="">
                <!-- Hover Effects -->
                <div class="hover-effects">
                    <a href="#" class="d-flex align-items-center justify-content-center"><i class="fa fa-instagram"></i></a>
                </div>
            </div>
            <!-- Single Insta Feed -->
            <div class="single-insta-feed">
                <img src="img/principal/n.jpg" alt="">
                <!-- Hover Effects -->
                <div class="hover-effects">
                    <a href="#" class="d-flex align-items-center justify-content-center"><i class="fa fa-instagram"></i></a>
                </div>
            </div>
            <!-- Single Insta Feed -->
            <div class="single-insta-feed">
                <img src="img/principal/2.PNG" alt="">
                <!-- Hover Effects -->
                <div class="hover-effects">
                    <a href="#" class="d-flex align-items-center justify-content-center"><i class="fa fa-instagram"></i></a>
                </div>
            </div>
            <!-- Single Insta Feed -->
            <div class="single-insta-feed">
                <img src="img/principal/6.jpg" alt="">
                <!-- Hover Effects -->
                <div class="hover-effects">
                    <a href="#" class="d-flex align-items-center justify-content-center"><i class="fa fa-instagram"></i></a>
                </div>
            </div>
            <!-- Single Insta Feed -->
            <div class="single-insta-feed">
                <img src="img/principal/3.jpg" alt="">
                <!-- Hover Effects -->
                <div class="hover-effects">
                    <a href="#" class="d-flex align-items-center justify-content-center"><i class="fa fa-instagram"></i></a>
                </div>
            </div>
            <!-- Single Insta Feed -->
            <div class="single-insta-feed">
                <img src="img/principal/7.jpg" alt="">
                <!-- Hover Effects -->
                <div class="hover-effects">
                    <a href="#" class="d-flex align-items-center justify-content-center"><i class="fa fa-instagram"></i></a>
                </div>
            </div>
            <!-- Single Insta Feed -->
            <div class="single-insta-feed">
                <img src="img/principal/B.jpg" alt="">
                <!-- Hover Effects -->
                <div class="hover-effects">
                    <a href="#" class="d-flex align-items-center justify-content-center"><i class="fa fa-instagram"></i></a>
                </div>
            </div>
        </div>
    </div>
</div>
<footer class="footer-area text-center">
    <div class="container">
        <div class="row">
            <div class="col-12">
               
                <!-- Footer Nav Area -->
                <div class="classy-nav-container breakpoint-off">
                    <!-- Classy Menu -->
                    <nav class="classy-navbar justify-content-center">

                        <!-- Navbar Toggler -->
                        <div class="classy-navbar-toggler">
                            <span class="navbarToggler"><span></span><span></span><span></span></span>
                        </div>

                        <!-- Menu -->
                        <div class="classy-menu">

                            <!-- close btn -->
                            <div class="classycloseIcon">
                                <div class="cross-wrap"><span class="top"></span><span class="bottom"></span></div>
                            </div>

                            
                            
                        </div>
                    </nav>
                </div>
                
                
            </div>
        </div>
    </div>

Carrera 64A # 4g - 55 Bogotá Colombia - Llámenos al 315 358 7821

    </footer>
    <!-- ##### Footer Area End ##### -->

    <!-- jQuery (Necessary for All JavaScript Plugins) -->
    <script src="../public/js/jquery/jquery-2.2.4.min.js"></script>
    <!-- Popper js -->
    <script src="../public/js/popper.min.js"></script>
    <!-- Bootstrap js -->
    <script src="../public/js/bootstrap.min.js"></script>
    <!-- Plugins js -->
    <script src="../public/js/plugins.js"></script>
    <!-- Active js -->
    <script src="../public/js/active.js"></script>
</body>

</html>