<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <link rel="stylesheet" href="css/style.css">


    <title> Inicio Sesion </title>
</head>
<body>
    
    <div class="campoLogin">
        <h1> Inicio Sesion </h1>
       

        
            <label for="Usuario">Usuario</label>
            <input id="usser" type="text" placeholder="Usuario">
    
            <label for="Contraseña">Contraseña</label>
            <input id="pass" type="text" placeholder="Contraseña">
    
       <div>
           <a href="/Admin" class="btn btn-primary btn-user btn-block">
               INGRESAR
           </a>
       </div>
    </div>

    <!--<script src="js/script.js"></script>-->

</body>
</html>