<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="description" content="">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- The above 4 meta tags *must* come first in the head; any other head content must come *after* these tags -->

    <!-- Title -->
    <title>OFERTAS - ROPA DE BUENA CALIDAD. </title>

  

    <!-- Style CSS -->
    <link rel="stylesheet" href="css/sty.css">

</head>

<body>

    <div class="coming-soon-area bg-img background-overlay">
        <div class="logo-area text-center">
            <div class="container h-100">
                <div class="row h-100 align-items-center">
                <center>
                    <div class="col-12">
                        <a href="index.html" class="original-logo"><img src="img/principal/y.png" alt=""></a>
                    </div>
                </center>
                </div>
            </div>
        </div>
        <!-- ##### Header Area End ##### -->

        <!-- ##### Coming Soon Area Start ##### -->
       
        <div class="blog-wrapper section-padding-100-0 clearfix">
                <div class="container">
                    <div class="row">
                        <div class="col-12 col-md-6 col-lg-4">
                            <div class="single-blog-area blog-style-2 mb-100">
                                <div class="single-blog-thumbnail">
                                    <img src="img/ofertas/1.jpg" alt="">
                                    <div class="post-date p-3 mb-2 bg-danger text-white">
                                            <a href="#" class="text-dark">60%<span class="text-dark">DESCUENTO</span></a>
                                 </div>
                              </div>
                                <!-- Blog Content -->
                                <div class="single-blog-content mt-10">
                                   
                                    <h6 class="text-center"><a href="#" class="post-headline text-white bg-dark"></a>Body Sisa Escote En V Con Tiras</a></h6>
                                    <h6 href="#" class="text-white bg-danger text-center">Ahora: $ 55,960</h6>
                                    <h6 href="#" class="text-black  text-center">Antes:  $ 139,900</h6>
                                </div>
                            </div>
                        </div>
                        <div class="col-12 col-md-6 col-lg-4">
                                <div class="single-blog-area blog-style-2 mb-100">
                                    <div class="single-blog-thumbnail">
                                        <img src="img/ofertas/2.jpg" alt="">
                                        <div class="post-date p-3 mb-2 bg-danger text-white">
                                                <a href="#" class="text-dark">60%<span class="text-dark">DESCUENTO</span></a>
                                     </div>
                                  </div>
                                    <!-- Blog Content -->
                                    <div class="single-blog-content mt-10">
                                       
                                        <h6 class="text-center"><a href="#" class="post-headline text-white bg-dark"></a>Short En Lentejuelas</a></h6>
                                        <h6 href="#" class="text-white bg-danger text-center">Ahora: $ 43,960 </h6>
                                        <h6 href="#" class="text-black  text-center">Antes: $ 109,900</h6>
                                    </div>
                                </div>
                            </div>
                            <div class="col-12 col-md-6 col-lg-4">
                                    <div class="single-blog-area blog-style-2 mb-100">
                                        <div class="single-blog-thumbnail">
                                            <img src="img/ofertas/3.jpg" alt="">
                                            <div class="post-date p-3 mb-2 bg-danger text-white">
                                                    <a href="#" class="text-dark">60%<span class="text-dark">DESCUENTO</span></a>
                                         </div>
                                      </div>
                                        <!-- Blog Content -->
                                        <div class="single-blog-content mt-10">
                                           
                                            <h6 class="text-center"><a href="#" class="post-headline text-white bg-dark"></a>Blusa En Encaje Manga Larga Tipo Globo</a></h6>
                                            <h6 href="#" class="text-white bg-danger text-center">Ahora: $ 55,960 </h6>
                                            <h6 href="#" class="text-black  text-center">Antes: $ 139,900 </h6>
                                        </div>
                                    </div>
                                </div>
                                
                             
                        
                        
                    </div>
                </div>
            </div>

            <div class="blog-wrapper section-padding-100-0 clearfix">
                    <div class="container">
                        <div class="row">
                            <div class="col-12 col-md-6 col-lg-4">
                                <div class="single-blog-area blog-style-2 mb-100">
                                    <div class="single-blog-thumbnail">
                                        <img src="img/ofertas/4.jpg" alt="">
                                        <div class="post-date p-3 mb-2 bg-danger text-white">
                                                <a href="#" class="text-dark">60%<span class="text-dark">DESCUENTO</span></a>
                                     </div>
                                  </div>
                                    <!-- Blog Content -->
                                    <div class="single-blog-content mt-10">
                                       
                                        <h6 class="text-center"><a href="#" class="post-headline text-white bg-dark"></a>BLUSA DE UN HOMBRO ENGLOBADA EN HOMBRO Y</a></h6>
                                        <h6 href="#" class="text-white bg-danger text-center">Ahora: $ 55,960</h6>
                                        <h6 href="#" class="text-black  text-center">Antes:  $ 139,900</h6>
                                    </div>
                                </div>
                            </div>
                            <div class="col-12 col-md-6 col-lg-4">
                                    <div class="single-blog-area blog-style-2 mb-100">
                                        <div class="single-blog-thumbnail">
                                            <img src="img/ofertas/5.jpg" alt="">
                                            <div class="post-date p-3 mb-2 bg-danger text-white">
                                                    <a href="#" class="text-dark">60%<span class="text-dark">DESCUENTO</span></a>
                                         </div>
                                      </div>
                                        <!-- Blog Content -->
                                        <div class="single-blog-content mt-10">
                                           
                                            <h6 class="text-center"><a href="#" class="post-headline text-white bg-dark"></a>Jean Skinny Cinco Bols. Colores O/I</a></h6>
                                            <h6 href="#" class="text-white bg-danger text-center">Ahora: $ 67,960 </h6>
                                            <h6 href="#" class="text-black  text-center">Antes: $ 169,900</h6>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-12 col-md-6 col-lg-4">
                                        <div class="single-blog-area blog-style-2 mb-100">
                                            <div class="single-blog-thumbnail">
                                                <img src="img/ofertas/6.jpg" alt="">
                                                <div class="post-date p-3 mb-2 bg-danger text-white">
                                                        <a href="#" class="text-dark">60%<span class="text-dark">DESCUENTO</span></a>
                                             </div>
                                          </div>
                                            <!-- Blog Content -->
                                            <div class="single-blog-content mt-10">
                                               
                                                <h6 class="text-center"><a href="#" class="post-headline text-white bg-dark"></a>Jeans Cropped Con Vinilo En Rodillas</a></h6>
                                                <h6 href="#" class="text-white bg-danger text-center">Ahora: $ 75,960  </h6>
                                                <h6 href="#" class="text-black  text-center">Antes: $ 189,900</h6>
                                            </div>
                                        </div>
                                    </div>
                                    
                                 
                            
                            
                        </div>
                    </div>
                </div>
                <div class="blog-wrapper section-padding-100-0 clearfix">
                        <div class="container">
                            <div class="row">
                                <div class="col-12 col-md-6 col-lg-4">
                                    <div class="single-blog-area blog-style-2 mb-100">
                                        <div class="single-blog-thumbnail">
                                            <img src="img/ofertas/7.jpg" alt="">
                                            <div class="post-date p-3 mb-2 bg-danger text-white">
                                                    <a href="#" class="text-dark">60%<span class="text-dark">DESCUENTO</span></a>
                                         </div>
                                      </div>
                                        <!-- Blog Content -->
                                        <div class="single-blog-content mt-10">
                                           
                                            <h6 class="text-center"><a href="#" class="post-headline text-white bg-dark"></a>Blusa De Tiras En Lentejuelas</a></h6>
                                            <h6 href="#" class="text-white bg-danger text-center">Ahora: $ $ 39,560</h6>
                                            <h6 href="#" class="text-black  text-center">Antes: $ 98,900</h6>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-12 col-md-6 col-lg-4">
                                        <div class="single-blog-area blog-style-2 mb-100">
                                            <div class="single-blog-thumbnail">
                                                <img src="img/ofertas/8.jpg" alt="">
                                                <div class="post-date p-3 mb-2 bg-danger text-white">
                                                        <a href="#" class="text-dark">60%<span class="text-dark">DESCUENTO</span></a>
                                             </div>
                                          </div>
                                            <!-- Blog Content -->
                                            <div class="single-blog-content mt-10">
                                               
                                                <h6 class="text-center"><a href="#" class="post-headline text-white bg-dark"></a>JEANS AZUL BÁSICO</a></h6>
                                                <h6 href="#" class="text-white bg-danger text-center">Ahora: $ 74,000 </h6>
                                                <h6 href="#" class="text-black  text-center">Antes: $ 118,400</h6>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-12 col-md-6 col-lg-4">
                                            <div class="single-blog-area blog-style-2 mb-100">
                                                <div class="single-blog-thumbnail">
                                                    <img src="img/ofertas/9.jpg" alt="">
                                                    <div class="post-date p-3 mb-2 bg-danger text-white">
                                                            <a href="#" class="text-dark">60%<span class="text-dark">DESCUENTO</span></a>
                                                 </div>
                                              </div>
                                                <!-- Blog Content -->
                                                <div class="single-blog-content mt-10">
                                                   
                                                    <h6 class="text-center"><a href="#" class="post-headline text-white bg-dark"></a>JEANS NEGRO BÁSICO</a></h6>
                                                    <h6 href="#" class="text-white bg-danger text-center">Ahora: $ 72,000</h6>
                                                    <h6 href="#" class="text-black  text-center">Antes: $ 115,200</h6>
                                                </div>
                                            </div>
                                        </div>
                                        
                                     
                                
                                
                            </div>
                        </div>
                    </div>
                    <div class="blog-wrapper section-padding-100-0 clearfix">
                            <div class="container">
                                <div class="row">
                                    <div class="col-12 col-md-6 col-lg-4">
                                        <div class="single-blog-area blog-style-2 mb-100">
                                            <div class="single-blog-thumbnail">
                                                <img src="img/ofertas/10.jpg" alt="">
                                                <div class="post-date p-3 mb-2 bg-danger text-white">
                                                        <a href="#" class="text-dark">40%<span class="text-dark">DESCUENTO</span></a>
                                             </div>
                                          </div>
                                            <!-- Blog Content -->
                                            <div class="single-blog-content mt-10">
                                               
                                                <h6 class="text-center"><a href="#" class="post-headline text-white bg-dark"></a>JEANS AZUL BÁSICO</a></h6>
                                                <h6 href="#" class="text-white bg-danger text-center">Ahora: $ 43,200</h6>
                                                <h6 href="#" class="text-black  text-center">Antes:  $ 72,000</h6>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-12 col-md-6 col-lg-4">
                                            <div class="single-blog-area blog-style-2 mb-100">
                                                <div class="single-blog-thumbnail">
                                                    <img src="img/ofertas/11.jpg" alt="">
                                                    <div class="post-date p-3 mb-2 bg-danger text-white">
                                                            <a href="#" class="text-dark">40%<span class="text-dark">DESCUENTO</span></a>
                                                 </div>
                                              </div>
                                                <!-- Blog Content -->
                                                <div class="single-blog-content mt-10">
                                                   
                                                    <h6 class="text-center"><a href="#" class="post-headline text-white bg-dark"></a>JEANS NEGRO BÁSICO</a></h6>
                                                    <h6 href="#" class="text-white bg-danger text-center">Ahora: $ 44,400 </h6>
                                                    <h6 href="#" class="text-black  text-center">Antes: $ 74,000</h6>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-12 col-md-6 col-lg-4">
                                                <div class="single-blog-area blog-style-2 mb-100">
                                                    <div class="single-blog-thumbnail">
                                                        <img src="img/ofertas/12.jpg" alt="">
                                                        <div class="post-date p-3 mb-2 bg-danger text-white">
                                                                <a href="#" class="text-dark">60%<span class="text-dark">DESCUENTO</span></a>
                                                     </div>
                                                  </div>
                                                    <!-- Blog Content -->
                                                    <div class="single-blog-content mt-10">
                                                       
                                                        <h6 class="text-center"><a href="#" class="post-headline text-white bg-dark"></a>CAMISA BLANCO MINIPRINT</a></h6>
                                                        <h6 href="#" class="text-white bg-danger text-center">Ahora: $ 47,600 </h6>
                                                        <h6 href="#" class="text-black  text-center">Antes: $ 68,000 </h6>
                                                    </div>
                                                </div>
                                            </div>
                                            
                                         
                                    
                                    
                                </div>
                            </div>
                        </div>
    <!-- ##### Instagram Feed Area Start ##### -->
    <div class="instagram-feed-area">
        
            <div class="instagram-slides owl-carousel">
                <!-- Single Insta Feed -->
                <div class="single-insta-feed">
                    <img src="img/principal/M.jpg" alt="">
                    <!-- Hover Effects -->
                    <div class="hover-effects">
                        <a href="#" class="d-flex align-items-center justify-content-center"><i class="fa fa-instagram"></i></a>
                    </div>
                </div>
                <!-- Single Insta Feed -->
                <div class="single-insta-feed">
                    <img src="img/principal/n.jpg" alt="">
                    <!-- Hover Effects -->
                    <div class="hover-effects">
                        <a href="#" class="d-flex align-items-center justify-content-center"><i class="fa fa-instagram"></i></a>
                    </div>
                </div>
                <!-- Single Insta Feed -->
                <div class="single-insta-feed">
                    <img src="img/principal/2.PNG" alt="">
                    <!-- Hover Effects -->
                    <div class="hover-effects">
                        <a href="#" class="d-flex align-items-center justify-content-center"><i class="fa fa-instagram"></i></a>
                    </div>
                </div>
                <!-- Single Insta Feed -->
                <div class="single-insta-feed">
                    <img src="img/principal/6.jpg" alt="">
                    <!-- Hover Effects -->
                    <div class="hover-effects">
                        <a href="#" class="d-flex align-items-center justify-content-center"><i class="fa fa-instagram"></i></a>
                    </div>
                </div>
                <!-- Single Insta Feed -->
                <div class="single-insta-feed">
                    <img src="img/principal/3.jpg" alt="">
                    <!-- Hover Effects -->
                    <div class="hover-effects">
                        <a href="#" class="d-flex align-items-center justify-content-center"><i class="fa fa-instagram"></i></a>
                    </div>
                </div>
                <!-- Single Insta Feed -->
                <div class="single-insta-feed">
                    <img src="img/principal/7.jpg" alt="">
                    <!-- Hover Effects -->
                    <div class="hover-effects">
                        <a href="#" class="d-flex align-items-center justify-content-center"><i class="fa fa-instagram"></i></a>
                    </div>
                </div>
                <!-- Single Insta Feed -->
                <div class="single-insta-feed">
                    <img src="img/principal/B.jpg" alt="">
                    <!-- Hover Effects -->
                    <div class="hover-effects">
                        <a href="#" class="d-flex align-items-center justify-content-center"><i class="fa fa-instagram"></i></a>
                    </div>
                </div>
            </div>
        </div>
    <!-- ##### Instagram Feed Area End ##### -->

    <!-- ##### Footer Area Start ##### -->
    <footer class="footer-area text-center">
        <div class="container">
            <div class="row">
                <div class="col-12">
                   
                    <!-- Footer Nav Area -->
                    <div class="classy-nav-container breakpoint-off">
                        <!-- Classy Menu -->
                        <nav class="classy-navbar justify-content-center" id="footerNav">

                            <!-- Navbar Toggler -->
                            <div class="classy-navbar-toggler">
                                <span class="navbarToggler"><span></span><span></span><span></span></span>
                            </div>

                            <!-- Menu -->
                            <div class="classy-menu">

                                <!-- close btn -->
                                <div class="classycloseIcon">
                                    <div class="cross-wrap"><span class="top"></span><span class="bottom"></span></div>
                                </div>

                                <!-- Nav Start -->
                                <div class="classynav">
                                    <ul>
                                        <li><a href="/BEMTTO"> INICIO </a></li>
                                        <li><a href="/Hombre">HOMBRE</a></li>
                                        <li><a href="mujer.html">MUJER</a></li>
                                        </li>
                                        <li><a href="/Ofertas">OFERTAS</a></li>
                                        <li><a href="/Informacion">SOBRE NOSOTROS</a></li>
                                        
                                        <li><a href="/Contacto">CONTACTO</a></li>
                                        <li><a href="/">ADMINISTRADOR</a></li>
                                    </ul>
                                    
                                </div>
                                <!-- Nav End -->
                            </div>
                        </nav>
                    </div>
                </div>
            </div>
        </div>

    <center>
        Carrera 64A # 4g - 55 Bogotá Colombia - Llámenos al 315 358 7821
    </center>

    </footer>
    <!-- ##### Footer Area End ##### -->

    <!-- jQuery (Necessary for All JavaScript Plugins) -->
    <script src="../public/js/jquery/jquery-2.2.4.min.js"></script>
    <!-- Popper js -->
    <script src="../public/js/popper.min.js"></script>
    <!-- Bootstrap js -->
    <script src="../public/js/bootstrap.min.js"></script>
    <!-- Plugins js -->
    <script src="../public/js/plugins.js"></script>
    <!-- Active js -->
    <script src="../public/js/active.js"></script>

</body>

</html>