<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="description" content="">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- The above 4 meta tags *must* come first in the head; any other head content must come *after* these tags -->

    <!-- Title -->
    <title>BEMTTO.</title>

    <!-- Favicon -->
    <link rel="icon" href="../public/img/core-img/favicon.ico">

    <!-- Style CSS -->
    <link rel="stylesheet" href="css/sty.css">

</head>

<body>


    <!-- ##### Header Area Start ##### -->
    <header class="header-area">

        <!-- Logo Area -->
        <div class="logo-area text-center">
            <div class="container h-100">
                <div class="row h-100 align-items-center">
                    <div class="col-12">
                        <a href="index.html" class="original-logo"><img src="img/principal/y.png" alt=""></a>
                    </div>
                </div>
            </div>
        </div>

        <!-- Nav Area -->
        <div class="original-nav-area" id="stickyNav">
            <div class="classy-nav-container breakpoint-off">
                <div class="container">
                    <!-- Classy Menu -->
                    <nav class="classy-navbar justify-content-between">

                        <!-- Subscribe btn -->
                       

                        <!-- Navbar Toggler -->
                        <div class="classy-navbar-toggler">
                            <span class="navbarToggler"><span></span><span></span><span></span></span>
                        </div>

                        <!-- Menu -->
                        <div class="classy-menu" id="originalNav">
                            <!-- close btn -->
                            <div class="classycloseIcon">
                                <div class="cross-wrap"><span class="top"></span><span class="bottom"></span></div>
                            </div>

                            <!-- Nav Start -->
                            <div class="classynav">
                                <ul>
                                    <li><a href="/BEMTTO"> INICIO </a></li>
                                   <li><a href="/Hombre">HOMBRE</a></li>
                                   <li><a href="mujer.html">MUJER</a></li>
                                    </li>
                                    <li><a href="/Ofertas">OFERTAS</a></li>
                                    <li><a href="/Informacion">SOBRE NOSOTROS</a></li>
                                    
                                    <li><a href="/Contacto">CONTACTO</a></li>
                                    <li><a href="/">ADMINISTRADOR</a></li>

                                
                            </div>
                            <!-- Nav End -->
                        </div>
                    </nav>
                </div>
            </div>
        </div>
    </header>
    <!-- ##### Header Area End ##### -->

    <!-- ##### Hero Area Start ##### -->
    <div class="hero-area">
        <!-- Hero Slides Area -->
        <div class="hero-slides owl-carousel">
            <!-- Single Slide -->
            <div class="single-hero-slide bg-img" style="background-image: url(img/principal/jeans.jpg);">
                <div class="container h-100">
                    <div class="row h-100 align-items-center">
                        <div class="col-12">
                            <div class="slide-content text-center">
                                <div class="post-tag">
                                    <a href="#" data-animation="fadeInUp">VIVE LA VIDA CON ESTILO</a>
                                </div>
                                <h2 data-animation="fadeInUp" data-delay="250ms">"NO SE TRATA DE LA TALLA QUE USAS, SE TRATA DE COMO USAS TU TALLA" EDITH DOHMEN.</a></h2>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Single Slide -->
            <div class="single-hero-slide bg-img" style="background-image: url(img/principal/F.jpg);">
                <div class="container h-100">
                    <div class="row h-100 align-items-center">
                        <div class="col-12">
                            <div class="slide-content text-center">
                                <div class="post-tag">
                                    <a href="#" data-animation="fadeInUp">VIVE LA VIDA CON ESTILO</a>
                                </div>
                                <h2 data-animation="fadeInUp" data-delay="250ms">"NO SE TRATA DE LA TALLA QUE USAS, SE TRATA DE COMO USAS TU TALLA" EDITH DOHMEN.</a></h2>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Single Slide -->
            <div class="single-hero-slide bg-img" style="background-image: url(img/principal/41.png);">
                <div class="container h-100">
                    <div class="row h-100 align-items-center">
                        <div class="col-12">
                            <div class="slide-content text-center">
                                <div class="post-tag">
                                    <a href="#" data-animation="fadeInUp">VIVE LA VIDA CON ESTILO</a>
                                </div>
                                <h2 data-animation="fadeInUp" data-delay="250ms">"NO SE TRATA DE LA TALLA QUE USAS, SE TRATA DE COMO USAS TU TALLA" EDITH DOHMEN.</a></h2>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- ##### Hero Area End ##### -->

    <!-- ##### Blog Wrapper Start ##### -->
    <div class="blog-wrapper section-padding-100 clearfix">
        <div class="container">
            <div class="row align-items-end">
                <!-- Single Blog Area -->
                <div class="col-12 col-lg-4">
                    <div class="single-blog-area clearfix mb-100">
                        <!-- Blog Content -->
                        <div class="single-blog-content">
                            <div class="line"></div>
                            <a href="#" class="post-tag">VIVE LA VIDA CON ESTILO</a>
                            <h4><a href="#" class="post-headline">ROPA FABRICADA CON MATERIA PRIMA DE ALTA CALIDAD A LOS MEJORES PRECIOS</a></h4>
                            <p>"La moda no sólo existe en los vestidos. La moda está en el cielo, en las calles, la moda tiene que ver con ideas, la forma en que vivimos y lo qué está sucediendo." -Coco Chanel</p>
                            
                        </div>
                    </div>
                </div>

                <div class="sidebar-widget-area">
                    <a href="#"><img src="img/bg-img/add.gif" alt=""></a>
                </div>
                <div class="col-12 col-md-6 col-lg-4">
                    <div class="single-catagory-area clearfix mb-50">
                        <img src="img/principal/F.jpg" alt="">
                        <!-- Catagory Title -->
                        <div class="catagory-title">
                            <a href="#">TU MODA</a>
                        </div>
                    </div>
                </div>
                <!-- Single Blog Area -->
                <div class="col-12 col-md-6 col-lg-4">
                    <div class="single-catagory-area clearfix mb-100">
                        <img src="img/principal/A.jpg" alt="">
                        <!-- Catagory Title -->
                        <div class="catagory-title">
                            <a href="#">TU ESTILO</a>
                        </div>
                    </div>
                </div>
                <!-- Single Blog Area -->
                <div class="col-12 col-md-6 col-lg-4">
                    <div class="single-catagory-area clearfix mb-100">
                        <img src="img/principal/2.gif" alt="">
                        <!-- Catagory Title -->
                        <div class="catagory-title">
                            <a href="#">TU MUNDO</a>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-md-6 col-lg-4">
                    <div class="single-catagory-area clearfix mb-100">
                        <img src="img/principal/B.jpg" alt="">
                        <!-- Catagory Title -->
                        <div class="catagory-title">
                            <a href="#">TU FELICIDAD</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="container">
            <div class="row">
                <div class="col-12 col-lg-9">
                    <!-- Single Blog Area  -->
                    <div class="single-blog-area blog-style-2 mb-50 wow fadeInUp" data-wow-delay="0.3s" data-wow-duration="1000ms">
                        <div class="row align-items-center">
                            <div class="col-12 col-md-6">
                                <!-- Blog Content -->
                                <div class="single-blog-content">
                                    <div class="line"></div>
                                    <a href="#" class="post-tag">VIVE LA VIDA CON ESTILO.</a>
                                    <h4><a href="#" class="post-headline">NOSOTROS AMAMOS LOS COLORES</a></h4>
                                    <p>La forma en que ciertos colores interactúan con el tono de piel, cabello y ojos tiene tanto poder sobre la imagen, que creará una apariencia saludable y fresca o, por el contrario, deslavada y cansada.</p>
                                    
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- Single Blog Area  -->
                    <div class="single-blog-area blog-style-2 mb-50 wow fadeInUp" data-wow-delay="0.4s" data-wow-duration="1000ms">
                        <div class="row">
                            <div class="col-12">
                                <div class="single-blog-thumbnail">
                                    <img src="img/blog-img/7.jpg" alt="">
                                    <div class="post-date">
                                        <a href="#">19 <span>SEPTIEMBRE</span></a>
                                    </div>
                                </div>
                            </div>
                            
                        </div>
                    </div>
                    
                    
                    <div class="single-blog-area blog-style-2 mb-50 wow fadeInUp" data-wow-delay="0.6s" data-wow-duration="1000ms">
                        <div class="row align-items-center">
                            <div class="col-12 col-md-6">
                                <div class="single-blog-thumbnail">
                                    <img src="img/blog-img/5.jpg" alt="">
                                    <div class="post-date">
                                        <a href="#">25 <span>SEPTIEMBRE</span></a>
                                    </div>
                                </div>
                            </div>
                            <div class="col-12 col-md-6">
                                <!-- Blog Content -->
                                <div class="single-blog-content">
                                    <div class="line"></div>
                                    <a href="#" class="post-tag">Lifestyle</a>
                                    <h4><a href="#" class="post-headline">¡PROMOCION!</a></h4>
                                    <p> 50% DE DESCUENTO EN PRENDAS SELECCIONADAS ESTE 25 DE SEPTIEMBRE.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

             
            </div>
        </div>
    </div>

    <!-- ##### Instagram Feed Area Start ##### -->
    <div class="instagram-feed-area">
        
        <div class="instagram-slides owl-carousel">
            <!-- Single Insta Feed -->
            <div class="single-insta-feed">
                <img src="img/principal/M.jpg" alt="">
                <!-- Hover Effects -->
                <div class="hover-effects">
                    <a href="#" class="d-flex align-items-center justify-content-center"><i class="fa fa-instagram"></i></a>
                </div>
            </div>
            <!-- Single Insta Feed -->
            <div class="single-insta-feed">
                <img src="img/principal/n.jpg" alt="">
                <!-- Hover Effects -->
                <div class="hover-effects">
                    <a href="#" class="d-flex align-items-center justify-content-center"><i class="fa fa-instagram"></i></a>
                </div>
            </div>
            <!-- Single Insta Feed -->
            <div class="single-insta-feed">
                <img src="img/principal/2.png" alt="">
                <!-- Hover Effects -->
                <div class="hover-effects">
                    <a href="#" class="d-flex align-items-center justify-content-center"><i class="fa fa-instagram"></i></a>
                </div>
            </div>
            <!-- Single Insta Feed -->
            <div class="single-insta-feed">
                <img src="img/principal/6.jpg" alt="">
                <!-- Hover Effects -->
                <div class="hover-effects">
                    <a href="#" class="d-flex align-items-center justify-content-center"><i class="fa fa-instagram"></i></a>
                </div>
            </div>
            <!-- Single Insta Feed -->
            <div class="single-insta-feed">
                <img src="img/principal/3.jpg" alt="">
                <!-- Hover Effects -->
                <div class="hover-effects">
                    <a href="#" class="d-flex align-items-center justify-content-center"><i class="fa fa-instagram"></i></a>
                </div>
            </div>
            <!-- Single Insta Feed -->
            <div class="single-insta-feed">
                <img src="img/principal/7.jpg" alt="">
                <!-- Hover Effects -->
                <div class="hover-effects">
                    <a href="#" class="d-flex align-items-center justify-content-center"><i class="fa fa-instagram"></i></a>
                </div>
            </div>
            <!-- Single Insta Feed -->
            <div class="single-insta-feed">
                <img src="img/principal/B.jpg" alt="">
                <!-- Hover Effects -->
                <div class="hover-effects">
                    <a href="#" class="d-flex align-items-center justify-content-center"><i class="fa fa-instagram"></i></a>
                </div>
            </div>
        </div>
    </div>
    <!-- ##### Instagram Feed Area End ##### -->

    <!-- ##### Footer Area Start ##### -->
    <footer class="footer-area text-center">
        <div class="container">
            <div class="row">
                <div class="col-12">
                   
                    <!-- Footer Nav Area -->
                    <div class="classy-nav-container breakpoint-off">
                        <!-- Classy Menu -->
                        <nav class="classy-navbar justify-content-center">

                            <!-- Navbar Toggler -->
                            <div class="classy-navbar-toggler">
                                <span class="navbarToggler"><span></span><span></span><span></span></span>
                            </div>

                            <!-- Menu -->
                            <div class="classy-menu">

                                <!-- close btn -->
                                <div class="classycloseIcon">
                                    <div class="cross-wrap"><span class="top"></span><span class="bottom"></span></div>
                                </div>

                                
                                
                            </div>
                        </nav>
                    </div>
                    
                    
                </div>
            </div>
        </div>

   
<center>
Carrera 64A # 4g - 55 Bogotá Colombia - Llámenos al 315 358 7821
</center>

    </footer>
    <!-- ##### Footer Area End ##### -->

    <!-- jQuery (Necessary for All JavaScript Plugins) -->
    <script src="../public/js/jquery/jquery-2.2.4.min.js"></script>
    <!-- Popper js -->
    <script src="../public/js/popper.min.js"></script>
    <!-- Bootstrap js -->
    <script src="../public/js/bootstrap.min.js"></script>
    <!-- Plugins js -->
    <script src="../public/js/plugins.js"></script>
    <!-- Active js -->
    <script src="../public/js/active.js"></script>

</body>

</html>